<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <link rel="stylesheet" href="styles/home.css">
    <!-- icon link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Home-Page</title>
</head>
<body>
    <div class="main">
        <!-- header -->
        <%-include("./pages/header.ejs")%>
<!-- hero section -->
<div class="hero">
    <div class="hbox">
        <h1>My Blog</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore sequi cumque atque repellendus error aut sunt nostrum mollitia assumenda laudantium.</p>
        <button>See Post</button>
    </div>
</div>
    </div>
<!-- post -->
<div class="blog">
    <div class="btext">
        <h1>My Blog</h1>
        <hr color="#f900b4">
    </div>
    <div class="blogmain">
        <div class="blogbox">
            <img src="https://images.pexels.com/photos/13853328/pexels-photo-13853328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="inform">
                <h1>Build a website </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, iure.</p>
                <p>11/13/2019</p>
                <button>See More</button>
            </div>
        </div>
        <div class="blogbox">
            <img src="https://images.pexels.com/photos/13853328/pexels-photo-13853328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="inform">
                <h1>Build a website </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, iure.</p>
                <p>11/13/2019</p>
                <button>See More</button>
            </div>
        </div>
        <div class="blogbox">
            <img src="https://images.pexels.com/photos/13853328/pexels-photo-13853328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="inform">
                <h1>Build a website </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, iure.</p>
                <p>11/13/2019</p>
                <button>See More</button>
            </div>
        </div>
        <div class="blogbox">
            <img src="https://images.pexels.com/photos/13853328/pexels-photo-13853328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="inform">
                <h1>Build a website </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, iure.</p>
                <p>11/13/2019</p>
                <button>See More</button>
            </div>
        </div>
        <div class="blogbox">
            <img src="https://images.pexels.com/photos/13853328/pexels-photo-13853328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="inform">
                <h1>Build a website </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, iure.</p>
                <p>11/13/2019</p>
                <button>See More</button>
            </div>
        </div>
        <div class="blogbox">
            <img src="https://images.pexels.com/photos/13853328/pexels-photo-13853328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            <div class="inform">
                <h1>Build a website </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, iure.</p>
                <p>11/13/2019</p>
                <button>See More</button>
            </div>
        </div>
    </div>
</div>

<!-- post -->

<!-- footer -->

<%-include("./pages/footer.ejs")%>

<!-- footer -->
</body>
</html>