<footer>
    <div class="fbox1">
        <a href="https://www.facebook.com/programmingmantutorials"target="_blank"><i class='bx bxl-facebook'></i></a>
        <a href="https://youtube.com/@programmingman"target="_blank"><i class='bx bxl-youtube'></i></a>
        <a href="https://wa.me/01688494104"target="_blank"> <i class='bx bxl-whatsapp'></i></a>
        <a href="https://twitter.com/"target="_blank"><i class='bx bxl-twitter'></i></a>
    </div>
    <div class="fbox2">
       <p>Copyright © 2023 By Md.Abu Said Shihab</p>
    </div>
</footer>